*
!.gitignore
!.github/
!.github/**
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.base.json
!LICENSE
!README.md
!CHANGELOG.md
!scripts/
!scripts/**
!src/
!src/**

node_modules/
.mastra/
.vscode/
obj/
bin/
dist/
