*
!.gitignore
!.github/
!.github/**
!package.json
!package-lock.json
!protocol.md
!tsconfig.json
!tsconfig.base.json
!LICENSE
!README.md
!CHANGELOG.md
!PUBLISHING.md
!scripts/
!scripts/**
!src/
!src/**
!packages/
!packages/**

node_modules/
.mastra/
.vscode/
obj/
bin/
dist/
packages/*/dist/
